.blog {
    min-width: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 70em;
    height: 90vh;
}

.blog-title {
    padding-top: 2em; 
    text-align: center;
}
  
.blog-container {
    box-shadow: 2px 4px 10px black;
    width: 95%;
    height: 500px;
    margin-top: 3em;
    padding: 2em;
    text-align: left;
}

.blog-container-title {
    text-align: center;
}