.contact {
    min-width: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 70em;
    height: 90vh;
  }

  .contact-title {
    padding-top: 2em; 
    text-align: center;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 4px 10px black;
    width: 95%;
    height: 500px;
    margin-top: 3em;
    padding: 2em;
    text-align: left;

  }

  .contact-div {
    /* margin-top: 10vh; */
    padding-left: 2em;
  }
  
  .contact-info {
    display: flex;
    margin: 10px;
    /* align-items: left; */
    /* align-items: ; */
    /* justify-content: center; */
  }
  
  input {
    display: inline-block;
    width: 10em;
    position: relative;
    
  }
  form {
    margin-top: 10vh;
  }
  
  label {
    display: inline-block;
    /* width: 6em; */
    /* margin: 1.5em; */
    padding-left: .5em;
    padding-right: .5em;
  }
  
  #email {
    position: relative;
    margin-top: 1em;
    /* padding-left: 1em; */
    width: 410px;
  }
  
  #submit {
    margin: 2em;
  }
  
  #priority {
    margin-top: 1em;
  }

  .PhoneIcon { 
    padding-right: 5px;
    font-size: large;
  }

  .EmailIcon { 
    padding-right: 5px;
    font-size: large;
  }


/* contact page css */

.contact-body {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 5em;
}

.contact-grid {
  
  text-align: center;
  justify-content: center;
  width: 90%;
  height: 560px;
  color:white;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
  color:white
}

.contact-body p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-body hr {
  border-top: 5px dotted white;
  width: 70%;
  margin: auto;
}

.contact-body i {
  font-size: 50px;
  padding-right: 1rem;
  color: white;
}


/* contact page css */



