.contact {
    min-width: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 70em;
    height: 90vh;
  }

  .contact-title {
    padding-top: 2em; 
    text-align: center;
  }
  
  .contact-container {
    box-shadow: 2px 4px 10px black;
    width: 95%;
    height: 500px;
    margin-top: 3em;
    padding: 2em;
    text-align: left;
  }

  .contact-div {
    /* margin-top: 10vh; */
    padding-left: 2em;
  }
  
  .contact-info {
    display: flex;
    margin: 10px;
    /* align-items: left; */
    /* align-items: ; */
    /* justify-content: center; */
  }
  
  input {
    display: inline-block;
    
    width: 10em;
    position: relative;
    /* top: -3em; */
  }
  form {
    margin-top: 10vh;
  }
  
  label {
    display: inline-block;
    /* width: 6em; */
    /* margin: 1.5em; */
    padding-left: .5em;
    padding-right: .5em;
  }
  
  #email {
    position: relative;
    margin-top: 1em;
    /* padding-left: 1em; */
    width: 410px;
  }
  
  #submit {
    margin: 2em;
  }
  
  #priority {
    margin-top: 1em;
  }

  .PhoneIcon { 
    padding-right: 5px;
    font-size: large;
  }

  .EmailIcon { 
    padding-right: 5px;
    font-size: large;
  }
