.home {
    /* background-color: yellow; */
    min-width: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 70em;
    height: 90vh;
}

.home-title {
    /* background-color: white; */
    padding-top: 2em; 
    text-align: center;
}

.Branding {
    font-family: 'Poppins';
    font-size: 36px;
    text-align: left;
}

.home-container {
    background-color: white;
    box-shadow: 2px 4px 10px black;
    /* margin-left: 0 auto;
    margin-right: 0 auto; */
    width: 95%;
    height: 500px;
    margin-top: 3em;
    padding: 2em;
    text-align: left;
}