.header {
    /* min-height: 7vmin; */
    height: 7vmin;
    display:flex;
    float: none;
    background-color: rgba(49, 113, 134);
    color: white;
    /* min-width: 100%; */
    /* width: 95%; */
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    /* margin-left: auto;
    margin-right: auto; 
    width: 10em;
    max-width: 100em;  */
}

.logoLinkStyle {
    color: white;
    text-decoration: none;
}

.nav-links {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 120%;

    /*
    border-radius: 6px;
    border:none;
    padding: 15px 250px;
    box-shadow: 5px 5px 5px #c3c7ff, 10px 10px 10px #000000;
    box-shadow: 4px 6px 15px #c3c7ff, 5px 6px 50px #000000;
    box-shadow: 4px 6px 15px #000000, 8px 10px 20px #6d6d6d; 
    */
}

.linkStyle {
    color: white;
    text-decoration: none;
    /* 
    border-radius: 6px;
    border:none;
    padding: 10px;
    box-shadow: 2px 4px 5px #c3c7ff, 4px 6px 10px #000000; 
    */
}

/* .linkStyle:link {
    color: red;
} */

/* .linkStyle:visited {
    color: green;
} */

.linkStyle:hover {
    /* color: rgba(255, 255, 255, 0.664); */
    background-color: rgba(97, 215, 255, 0.350);
    /* text-decoration: underline; */
    border-radius: 5px;
    border:none;
    /* position: static; */
    margin: -1% -5%;
    padding: 1%  5%;
    /* z-index: 1; */
    /* box-shadow: 2px 4px 5px #c3c7ff, 4px 6px 10px #000000;  */
    /* box-shadow: 2px 4px 5px #000000; 
    box-shadow: 2px 4px #000000; 
    box-shadow: 2px #000000;      */
}

.linkStyle:active {
    color: rgb(126, 126, 126);
    text-decoration: underline;
}

.MenuLinkStyle {
    color: black;
    list-style: none;
    text-decoration: none;
}
  
.App-logo {
    height: 8vmin;
    pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

/* 
@media only screen and (max-width: 360px) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} 
*/

@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.drop-menu {
    background-color: rgb(50, 142, 173);
    border-radius: 5px;
    color: white;
}