/* #root {
  background-color: rgb(235, 244, 255);
} */


* {
  /* background-color: rgb(235, 244, 255); */
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgb(235, 244, 255);
}

.App {
  text-align: center;
  align-content: center;
  text-align: center;
  padding-bottom: -2rem; 
}
